ul {
    margin: 0;
    padding: 0;
    list-style: none;
    width: 720px;
    background: #159cb0 url(fundo-horizontal.png) repeat-x;
    float: left;
}

ul li {
   
    float: left;
}

ul a {
    padding: 8px 2em;
    line-height: 2.2em;
    text-decoration: none;
    color: white;
    background: url(divisor.png) repeat-y;
}

ul .primeiro a {
    background: none;
}

ul a:hover, .selecionado a {
    color: #085662;
    background: #44cade;
}