* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

header {
    
    margin: 35px
}

nav, li, a{
    
    display: inline;
    margin-right: 10px;
    margin-left: auto;
    list-style: none;
    text-decoration: none;
}

#s1 {
    
    padding: 35px;
}

.flex {
    display: flex;
}

.fonte {
    font-weight: 200;
}